<article class="row small-up-2 medium-up-3 large-up-4">
  {{#each model as |language|}}
  <section class="column column-block">
    <h3>{{#link-to 'languages.show' language}}{{language.name}}{{/link-to}}</h3>
    <p>{{language.description}}</p>
  </section>
  {{/each}}
</article>
{{outlet}}
