<article class="row small-up-2 medium-up-3 large-up-6">
  <h2>Your Languages</h2>
  {{#each model as |language|}}
  <section class="column">
    <p>
      {{#link-to 'languages.show' language}}{{language.name}}{{/link-to}}

      <section class="small button-group">
        {{#link-to 'languages.edit' language class="button"}}edit details{{/link-to}}
      </section>
    </p>
  </section>
  {{/each}}
</article>

{{outlet}}
