<strong>LANGUAGES/INDEX.HBS</strong>

<h2>Your Languages</h2>
<article class="row small-up-1 medium-up-4 large-up-6">
  {{#each model as |language|}}
  <section class="column">
    <p>
      {{#link-to 'language' language}}{{language.name}}{{/link-to}}
      <button class="small alert button" {{action 'deleteLanguage' language}}>delete</button>
    </p>
  </section>
  {{/each}}
</article>

{{outlet}}

<section class="row">
  <p class="large-offset-5 large-7 columns">
    {{#link-to 'languages.new' class='button'}}Add New Language{{/link-to}}
  </p>
</section>
