<h2>{{model.name}}</h2>
<p>
  <strong>Description:</strong>
  {{#if model.description}}
     {{model.description}}
  {{else}}
    None
  {{/if}}
</p>

{{outlet}}

<section class="row">
  <p class="large-offset-5 large-7 columns">
    {{#link-to 'languages.index' class='button'}}List All Languages{{/link-to}}
  </p>
</section>
