@import "foundation.min.css";
@import url('https://fonts.googleapis.com/css?family=Merienda+One|Quicksand');

* {
  margin: 1em;
}

body {
  background-color: #E6DFD0;
  color: #653239;
  font-size: 14pt;
}

body, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-family: 'Merienda One', cursive;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  text-align: justify;
}

a {
  color: #A44200;
}

a:hover {
  color: #0B3954;
  font-weight: bold;
}

.active, a.active {
  background-color: #653239;
  color: #E6DFD0;
}

.button, .button.active, .button:hover {
  background-color: #0B3954;
  color: #FFFFFF;
}

.button:hover {
  font-weight: bold;
}

.active:hover, a.active:hover, .button:hover {
  font-weight: bold;
}

.menu {
  border-bottom: 3px solid #653239;
  font-weight: bold;
}

.menu li {
  border-radius: 20 20 0 0;
}

#lang-phoneme, #vowels {
  margin-left: 2.5em;
  font-family: 'Times New Roman', serif;
}

#lang-phoneme li {
  list-style: none;
}

small a {
  color: #653239;
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (max-width: 438px) {
  p {text-align: left;}
}

.phonemes tbody td {
  font-family: 'Times New Roman', serif;
  font-size: 13pt;
}

.impossible {
  background-color: #7c7b7b;
}

.phonemes table {
  font-size: 11pt;
  text-align: center;
}

table tr:nth-of-type(even) {
  background-color: transparent !important;
}

table tbody td:nth-of-type(odd) {
  border-width: 0 0 1px 1px;
  text-align: right;
}

table tbody td:nth-of-type(even) {
  border-width: 0 1px 1px 0;
  text-align: left;
}


td, th {
  border: 1px solid black;
}

table tbody th, table thead th {
  padding: 0.2rem;
}

table tbody th {
  background-color: #561D25;
  color: white;
  text-align: right;
  padding-right: 0.5rem;
}


table thead th {
  background-color: #561D25;
  color: white;
  text-align: center;
  padding-left: 0;
}

table thead td {
  background-color: #E6DFD0;
  border-left: 1px solid #E6DFD0;
  border-top: 1px solid #E6DFD0;
}

table tfoot td {
  text-align: center;
  font-size: 10pt;
}

#other-consonants td {
  text-align: center;
  border-right: 1px solid black;
}

#vowels th, #vowels td {
  border-left: 1px solid #E6DFD0;
  border-right: 1px solid black;
}

#vowels th {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  border-left: 1px solid black;
}

#vowels tbody th {
  text-align: right;
}

#vowels tbody td {
  border: 0;
  border-bottom: 1px solid black;
}

#vowels tbody {
  border-right: 1px solid black;
}
