<strong>ABOUT.HBS</strong>

<h2>About</h2>
<p>
  This site is intended for the beginning conlanger
  to create a new conlang. The features are currently
  limited to created a phonology (sound system), but
  I hope to be able to expand with more features as
  time allows.
</p>

{{outlet}}
