<!-- TAKEN FROM EMBER TUTORIAL: CHANGE THE DIV CLASSES LATER!!! -->
<div class="container">
  <nav>
    {{#link-to 'index'}}<h1 class="left"><em>Conlanging Website</em></h1>{{/link-to}}
    <div class="left links">
      {{#link-to 'about'}}About{{/link-to}}
      {{#link-to 'contact'}}Contact{{/link-to}}
    </div>
  </nav>
  <body>
    {{outlet}}
  </body>
</div>
