<h2>Welcome!</h2>
<section class="column row">
  <p>
    The Conlang Engine is intended for the beginning
    conlanger to create a new constructed language.
    The features are currently limited to creating a
    phonology (sound system) and a basic dictionary.
    However, I hope to be able to expand this site with
    more advanced features as time allows.
  </p>

  <p>
    This site was created for my
    <a href="http://www.adadevelopersacademy.org">Ada Developers Adademy</a>
    capstone project.
  </p>
</section>

<h2>How to Use this Site</h2>
<section class="column row">
  <p>
    The best place to start is the Languages tab. From here, you can add
    a new language or view existing languages.
  </p>

  <p>
    Once you have created a language, you can:
  </p>

  <ul>
    <li>Add and sounds (or phonemes) to your language</li>
    <li>Add, edit, and remove words and their translations</li>
  </ul>

  <p>
    To find out about constructed languages and some basic linguistics
    concepts, check out the About tab.
  </p>
</section>

<h2>Contact Me</h2>
<section class="column row">
  <p>
    Questions about this site? Feel free to contact me via
    the following social media sites:
  </p>
  <ul>
    <li><a href="http://www.github.com/johnanmorris">Github</a></li>
    <li><a href="http://www.twitter.com/ParolePerdute">Twitter</a></li>
  </ul>
</section>
